* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #5e605c;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.btn {
  text-decoration: none;
  background-color: #5e605c;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid #b8df88;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #8c8e8a;
  border-color: #b8df88;
}

.btn--flat {
  display: flex;
  justify-content: center;
  cursor: pointer;
  font: inherit;
  color: #b8df88;
  border: none;
  background-color: none;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}

.btn--flat:hover,
.btn--flat:active {
  background-color: #b8df88;
  color: rgb(0, 0, 0);
}
